.task {
    margin: 10px 0px;
    /* background-image: url(../../assets/images/d814e9ba002ded1d738d3ea467e42e93--minimalist-planner-printable-list-template.jpg); */
    background: rgb(1, 112, 79);
 }

 .selected {
    border: 1px solid red !important;
  }

  .buttonDangerTask{
     float: right;
  }

  .buttonEditTask{
   margin-left: 76px;
  } 