.task {
    margin: 10px 0px;
    /* background-image: url(../../assets/images/d814e9ba002ded1d738d3ea467e42e93--minimalist-planner-printable-list-template.jpg); */
    background-color: rgba(130, 234, 248, 0.562) !important;
    box-shadow: 5px 10px 20px;
 }

 .selected {
    border: 1px solid red !important;
  }
 
.buttonEditTask{
  margin: 1px;
  }

  .buttonDangerTask{
   margin: 1px;
  }
  .buttonCheckTask{
   margin: 1px;
  }
  .buttonRedoTask{
   margin: 1px;
  }
  