.active{
    color: rgb(250, 229, 45);
    font-weight: 800;
}

.homeLink{
    margin: 0px 5px;
}

.aboutLink{
    margin: 0px 5px;
}

.contactLink{
    margin: 0px 5px;
}

.loginLink{
    margin: 0px 5px;
}

.registerLink{
    margin: 0px 5px;
}
.logoutButton{
    position: absolute; 
    top: 0px; 
    right: 0;
    margin-right: 10px;
}