.toDo{
    background-color: rgb(246, 255, 167);
    text-align: center;
}

.toDo h1 {
    color: rgb(4, 66, 102);
}

.toDo>input,h1 {
    margin: 0px 0px 10px 40px;
}

.box{
    background-color: rgb(134, 250, 215);
    /* width: 100px;
    height: 150px;
    margin-top: 10px; */
    border: solid  1px black;
}

